@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Poppins", sans-serif;
  color: #454545;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  color: #8b0882;
}

em,
i {
  font-weight: 100;
  font-style: italic;
}

strong,
b {
  font-weight: 400;
}

blockquote {
  font-weight: 300;
  font-style: italic;
}

a {
  color: #8b0882;
}

nav {
  padding: 0 2rem;
}

header,
section,
footer {
  width: 100%;
  height: 100vh;
}

.card {
  padding: 5rem;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
}

/* Grid */
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  flex-wrap: wrap;
}

.col-1 {
  flex: 0 0 calc(8.3333333333% * 1);
  max-width: calc(8.3333333333% * 1);
  box-sizing: border-box;
  padding: 0 15px;
}

.col-2 {
  flex: 0 0 calc(8.3333333333% * 2);
  max-width: calc(8.3333333333% * 2);
  box-sizing: border-box;
  padding: 0 15px;
}

.col-3 {
  flex: 0 0 calc(8.3333333333% * 3);
  max-width: calc(8.3333333333% * 3);
  box-sizing: border-box;
  padding: 0 15px;
}

.col-4 {
  flex: 0 0 calc(8.3333333333% * 4);
  max-width: calc(8.3333333333% * 4);
  box-sizing: border-box;
  padding: 0 15px;
}

.col-5 {
  flex: 0 0 calc(8.3333333333% * 5);
  max-width: calc(8.3333333333% * 5);
  box-sizing: border-box;
  padding: 0 15px;
}

.col-6 {
  flex: 0 0 calc(8.3333333333% * 6);
  max-width: calc(8.3333333333% * 6);
  box-sizing: border-box;
  padding: 0 15px;
}

.col-7 {
  flex: 0 0 calc(8.3333333333% * 7);
  max-width: calc(8.3333333333% * 7);
  box-sizing: border-box;
  padding: 0 15px;
}

.col-8 {
  flex: 0 0 calc(8.3333333333% * 8);
  max-width: calc(8.3333333333% * 8);
  box-sizing: border-box;
  padding: 0 15px;
}

.col-9 {
  flex: 0 0 calc(8.3333333333% * 9);
  max-width: calc(8.3333333333% * 9);
  box-sizing: border-box;
  padding: 0 15px;
}

.col-10 {
  flex: 0 0 calc(8.3333333333% * 10);
  max-width: calc(8.3333333333% * 10);
  box-sizing: border-box;
  padding: 0 15px;
}

.col-11 {
  flex: 0 0 calc(8.3333333333% * 11);
  max-width: calc(8.3333333333% * 11);
  box-sizing: border-box;
  padding: 0 15px;
}

.col-12 {
  flex: 0 0 calc(8.3333333333% * 12);
  max-width: calc(8.3333333333% * 12);
  box-sizing: border-box;
  padding: 0 15px;
}

@media screen and (max-width: 768px) {
  .col-md-1 {
    flex: 0 0 calc(8.3333333333% * 1);
    max-width: calc(8.3333333333% * 1);
  }
  .col-md-2 {
    flex: 0 0 calc(8.3333333333% * 2);
    max-width: calc(8.3333333333% * 2);
  }
  .col-md-3 {
    flex: 0 0 calc(8.3333333333% * 3);
    max-width: calc(8.3333333333% * 3);
  }
  .col-md-4 {
    flex: 0 0 calc(8.3333333333% * 4);
    max-width: calc(8.3333333333% * 4);
  }
  .col-md-5 {
    flex: 0 0 calc(8.3333333333% * 5);
    max-width: calc(8.3333333333% * 5);
  }
  .col-md-6 {
    flex: 0 0 calc(8.3333333333% * 6);
    max-width: calc(8.3333333333% * 6);
  }
  .col-md-7 {
    flex: 0 0 calc(8.3333333333% * 7);
    max-width: calc(8.3333333333% * 7);
  }
  .col-md-8 {
    flex: 0 0 calc(8.3333333333% * 8);
    max-width: calc(8.3333333333% * 8);
  }
  .col-md-9 {
    flex: 0 0 calc(8.3333333333% * 9);
    max-width: calc(8.3333333333% * 9);
  }
  .col-md-10 {
    flex: 0 0 calc(8.3333333333% * 10);
    max-width: calc(8.3333333333% * 10);
  }
  .col-md-11 {
    flex: 0 0 calc(8.3333333333% * 11);
    max-width: calc(8.3333333333% * 11);
  }
  .col-md-12 {
    flex: 0 0 calc(8.3333333333% * 12);
    max-width: calc(8.3333333333% * 12);
  }
}
/* Links */
a {
  color: inherit;
  text-decoration: none;
}

/* Lists */
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
}
nav ul li {
  display: inline-block;
  margin: 0 10px;
}

#nav-main {
  display: none;
  opacity: 0;
  position: fixed;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #8b0882;
}
#nav-main .nav-menu .nav-menu-item a {
  color: white;
}

#nav-main.visible {
  display: block;
  opacity: 1;
}

.header-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url("../img/background_2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.header-content h1 {
  margin-bottom: 10px;
}
.header-content .ul-social {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.header-content .ul-social .social-item {
  animation: pulse 2s infinite !important;
}
.header-content .ul-social .social-item:hover {
  color: #8b0882;
}
.header-content .arrow-down {
  font-size: 2rem;
  margin-top: 3rem;
  color: #8b0882;
  animation: pulse 2s infinite !important;
}

#about,
#projects {
  padding-top: 5rem;
}

#about .number-container {
  display: flex;
  align-items: center;
}
#about .number-container .number {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #8b0882;
  color: white;
  font-size: 2em;
  margin-right: 20px;
}
#about .number-container .skills-text h2,
#about .number-container .skills-text .slogan {
  margin: 0;
  text-align: left;
}
#about .skills-container h2, #about .skills-container .slogan {
  color: #8b0882;
}

footer {
  background: #3cb371;
  color: white;
}
footer p {
  margin: 0;
}

/*# sourceMappingURL=style.css.map */
