// Definição de cores
$primary-color: #8b0882;
$secondary-color: #3cb371;
$tertiary-color: #454545;

// Definição de mixins

@mixin reset-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
}

@mixin horizontal-list {
    @include reset-list;

    li {
        display: inline-block;
        margin: 0 10px;
    }
}

// Definição de animações

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

// Estilos globais
body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    color: $tertiary-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    color: $primary-color;
}

em,
i {
    font-weight: 100;
    font-style: italic;
}

strong,
b {
    font-weight: 400;
}

blockquote {
    font-weight: 300;
    font-style: italic;
}

a {
    color: $primary-color;
}

nav {
    padding: 0 2rem;
}

header,
section,
footer {
    width: 100%;
    height: 100vh;

}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.card {
    padding: 5rem;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
}


/* Links */
a {
    color: inherit;
    text-decoration: none;
}

/* Lists */
nav {
    ul {
        @include horizontal-list;
    }
}

// Menu

#nav-main {
    display: none;
    opacity: 0;
    position: fixed;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: $primary-color;

    .nav-menu {
        .nav-menu-item {
            a {
                color: white;
            }
        }
    }
}

#nav-main.visible {
    display: block;
    opacity: 1;
}

// Header

.header-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; 
    background-image: url('../img/background_2.jpg');
    background-size: cover; // Garante que a imagem cubra todo o espaço disponível
    background-position: center; // Centraliza a imagem
    background-repeat: no-repeat; // Evita a repetição da imagem

    h1 {
        margin-bottom: 10px;
    }

    .ul-social {
        display: flex;
        flex-direction: row; // Mantém os itens da lista em linha
        justify-content: center; // Centraliza a lista

        .social-item {
            animation: pulse 2s infinite !important;

            &:hover {
                color: $primary-color;
            }
        }
    }

    .arrow-down {
        font-size: 2rem;
        margin-top: 3rem;
        color: $primary-color;
        animation: pulse 2s infinite !important;
    }
}




// Seções
#about,
#projects {
   padding-top: 5rem;
}

#about {

    .number-container {
        display: flex;
        align-items: center;

        .number {
            border-radius: 50%;
            width: 100px;
            height: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $primary-color;
            color: white;
            font-size: 2em;
            margin-right: 20px;
        }

        .skills-text h2,
        .skills-text .slogan {
            margin: 0;
            text-align: left;
        }
    }

    .skills-container {
        h2, .slogan {
            color: $primary-color;
        }
    }

}

// Footer
footer {
    background: $secondary-color;
    color: white;

    p {
        margin: 0;
    }
}